body, html {
		font-family: Verdana, Geneva, Arial, sans-serif;
		font-size: small;
		line-height: 1.6em;
		color: #000000; 
		margin:0;
		padding:0;
		background:#a7a09a;
    }

    #wrap {
		width:960px;
		margin:0 auto;
		background:#99c;
		font-size: 14px;
		line-height: 18px;
    }
	
    #header {
		padding:15px 10px;
		background:#ddd;
    }
	#pic_box {
		width:360px;
		height:150px;
		padding:10px;
		margin:0 auto;
		z-index: 2;
		overflow: hidden;
	}
	.face {
		position:relative;
		left:0px;
		top:0px;	
		z-index: 1;
	}
	#search  {
		padding-bottom:10px;
		float: right;
		width:300px;
		/*height:40px;*/
	}
	h1 {
		margin:0;
		font-size:175%;
		text-align:center;
		color: #669791;
	}
	h2 {
		font-size: 150%;
		color: #669791;
	}
		
	h3 {
		font-size: 120%;
		color: #669791;
	}

	a {
		color: #000000;
	}
	
    #navmain {
		padding:5px 10px;
		background:#c99;
		width:620px;
		float:left;
		background-color:  #FFF; 
    }
	#navmain ul {
		margin:0;
		padding:0;
		list-style:none;
    }
    #navmain li {
		display:inline;
		margin:0;
		padding:0;
    }
	#navmain a:hover {  
		color: #009FC1; 
	}  
	
	#navside {
		padding:5px 10px;
		background:#c99;
		width:300px;
		float:right;
    }
	#navside ul {
		margin:0;
		padding:0;
		list-style:none;
    }
    #navside li {
		display:inline;
		margin:0;
		padding:0;
    }
	#navside a:hover {  
		color: #669791;
	}  
	
    #main {
		background:#9c9;
		float:left;
		padding:10px;
		width:940px;
    }
	/* begin table styles */  
	table {  
		border-collapse: collapse;  
		width: 100%;  
	}  
	table a {  
		color: #000;  
	}  
	table a:hover {  
		color:#373737;  
		text-decoration: none;  
	}  
	th {  
		text-align: center;
		/*background-color: #B40E1F;  */
		background-color: #cc0000;
		color: #F0F0F0;  
	}  
	td {  
		padding: 5px;  
	}  
	.leftpart {  
		width: 70%;  
	}  
	.rightpart {  
		width: 30%;  
	} 
	/*end table styles */
	
	.paddiv	{
		padding-bottom:10px;
	}	
	 /*begin error message styles */
	 div.errorMessage {
		padding:5px;
		display:none;
	 }
	 div.showErrorMessage	{
		padding:5px;
		display:block;
		color:#f00;
		font-weight:bold;
		font-style:italic;
	 }
	 label.error	{
		color:#f00;
		font-style:italic;
	 }
	 /*end error message styles */
	